<h2>My itemes</h2>

<mat-form-field class="example-form-field">
  <mat-label>Clearable input</mat-label>
  <input matInput type="text" [(ngModel)]="searchInput">
  <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Find" (click)="getItems()">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>
<ul class="itemes">
  <li *ngFor="let item of items"
      [ngClass]="{
        selected: item === selectedItem,
        'answer-tt': item.is_answered
      }"
      (click)="onSelect(item)">
    <span class="badge">{{item.question_id}}</span> {{item.title}}

  </li>
</ul>

<app-item-detail [item]="selectedItem"></app-item-detail>
