<div class="example-container mat-elevation-z8">
  <div class="search-input">
    <mat-form-field class="example-form-field">
      <mat-label>Find your query</mat-label>
      <input matInput type="text" [(ngModel)]="searchInput">
      <button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Find" (click)="getItems()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>



  <div class="example-table-container">

    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isNoResult">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      <div class="example-rate-limit-reached" *ngIf="isNoResult">
        Stackoverflow's API rate limit has been reached. It will be reset in one minute.<br>
        or<br>
        I didn't find an answer for you :( <br>
        Or maybe you just didn't ask anything :)
      </div>
    </div>

    <table mat-table [dataSource]="dataSource">

      <!-- Created Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created</th>
        <td mat-cell *matCellDef="let row">{{row?.creation_date * 1000 | date}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let element"> {{element?.title}} </td>
      </ng-container>

      <!-- Responses Column -->
      <ng-container matColumnDef="responses">
        <th mat-header-cell *matHeaderCellDef> Responses</th>
        <td mat-cell *matCellDef="let element"> {{element?.answer_count}} </td>
      </ng-container>

      <!-- Responses Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef> Author</th>
        <td mat-cell *matCellDef="let element"> {{element?.owner?.display_name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="onSelect(row)"
        [ngClass]="{'demo-row-is-clicked': row?.is_answered}"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  </div>
  <mat-paginator style="mat-paginator-range-label"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [length]="length"
    (page)="callback($event)"
  ></mat-paginator>

</div>
